<% layout('layouts/boilerplate') %> 

<div class="btn-group dropend">
    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Stok
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/stoks/groupStok">Group Stok</a></li>
        <li><a class="dropdown-item" href="/stoks/stok">Stok</a></li>
    </ul>
</div>